/* ==========================
  Base Element Styles
============================= */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: #343333;
  background: #fefefe;
}

header h1 {
  font-size: 2.375em; /* 38px */
  margin: 0;
}

a {
  color: #343333;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: #9e9b9b;
}

p {
  line-height: 1.7em;
}


footer {
  text-align: center;
}


/* ==========================
  Base Layout Styles
  (mobile first)
============================= */

/* ------ Header and Body Wrapper ------ */

.wrapper {
  padding: 0 10px;
  /*height: calc(100vh - 84px); /* Keeps the footer at the bottom */*/
}


/* ------ Navigation ------ */

/* Title */
header h1 {
  display: inline-block;
}

/* Desktop Navigation */
header > nav {
  display: none;
}

/* Open Navigation Button */
header > span.fa,
#mobile-nav > span.fa {
  float: right;
  font-size: 2.375em; /* 38px */
}

header > span.fa {
  margin: 8px 2px 0 0;
}

/* Menu Background */
#mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fefefe;
  opacity: .975;
  border-bottom: 1px solid #343333;
}

.visible {
  display: block !important;
}

/* Social Media Icons */
#mobile-nav > ul li {
  display: inline-block;
}

#mobile-nav > ul a {
  font-size: 3.5em;
  margin-right: 15px;
}

/* Close Button */
#mobile-nav > span.fa {
  margin: 8px 12px 0 0;
}

/* Nav Links */
#mobile-nav nav {
  margin: 30px 0;
  padding: 0;
  text-align: center;
}

#mobile-nav nav li {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #343333;
  list-style: none;
}

#mobile-nav nav li:last-child {
  border-bottom: none;
}

#mobile-nav nav li a {
  display: inline-block;
  padding: 10px 50px;
  font-size: 2em;
  color: inherit;
  text-decoration: none;
}

/* Breadcrumbs */
#breadcrumbs {
  font-size: .875em; /* 14px */
}

#breadcrumbs a {
  color: #9e9b9b;
  text-decoration: none;
  font-style: italic;
}

/* Footer Social Media Icons */
footer > ul {
  margin: 10px 0 0;
  padding: 0;
}

footer > ul li {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

footer > ul li:last-child {
  margin-right: 0;
}

footer > ul li a {
  font-size: 2.375em; /* 38px */
}


/* ==========================
  Media Queries
  for Base Layout
============================= */

@media only screen and (min-width: 480px) {
  /* Title */
  header h1 {
    font-size: 3em; /* 48px */
  }

  /* Open Navigation Button */
  header > span.fa,
  #mobile-nav > span.fa {
    font-size: 3em; /* 48px */
  }

  header > span.fa {
    margin: 12px 5px 0 0;
  }

  /* Social Media Icons */
  #mobile-nav > ul {
    float: left;
    margin-top: 90px;
    width: 10%;
  }

  #mobile-nav > ul li {
    display: block;
  }

  #mobile-nav > ul a {
    font-size: 4em;
    margin-right: 0;
  }

  /* Nav Links */
  #mobile-nav nav {
    float: right;
    margin: 30px 0;
    width: 80%;
    padding: 0;
    text-align: left;
  }

  #mobile-nav nav li a {
    font-size: 2.375em; /* 38px */
  }
}

@media only screen and (min-width: 768px) {
  /* Main Page Wrapper */
  .wrapper {
    /*height: calc(100vh - 23px); /* Keeps the footer at the bottom */*/
  }

  /* Open Navigation Button */
  header > span.fa {
    display: none;
  }

  /* Desktop Navigation Bar */
  header > nav {
    display: block;
    float: right;
    margin-top: 27px;
  }

  header > nav li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
  }

  header > nav li:last-child {
    margin-right: 0;
  }

  header > nav li a {
    font-size: 1.375em; /* 22px */
  }
}

@media only screen and (min-width: 960px) {
  /* Main Page Wrapper */
  .wrapper {
    margin: 0 auto;
    width: 960px;
  }

  /* Footer Social Media Icons to Fixed Side Icons */
  footer > ul {
    position: fixed;
    top: 80px;
    right: 0;
  }

  footer > ul li {
    display: block;
    margin-right: 5px;
  }

  footer > ul li:last-child {
    margin-right: 5px;
  }

  footer > ul li a {
    line-height: 1.2em;
  }
}


/* ==========================
  Home Page Styles
  (mobile first)
============================= */

/* Main Features */
#main-features {
  margin: 50px 0 70px;
}

#main-features article {
  width: 100%;
  margin-bottom: 40px;
  padding: 0 20px;
}

#main-features article h2::before {
  font-family: FontAwesome;
  font-size: 38px;
  margin-right: 10px;
}

#feature-about::before {
  content: "\f259";
}

#feature-work::before {
  content: "\f121";
}

#feature-blog::before {
  content: "\f11c";
}

#main-features article h2 {
  /*text-align: center;*/
  font-size: 3em; /* 38px */
  font-weight:300;
  margin: 0;
}

#main-features article p {
  margin-top: 8px;
  text-align: justify;
}

#main-features article p a {
  color: #9e9b9b;
  font-style: italic;
}

/* Recent Posts */
#recent-posts {
  margin-bottom: 70px;
}

#recent-posts article {
  margin-bottom: 50px;
  padding: 0 10px;
}

#recent-posts article:last-of-type {
  margin-bottom: 40px;
}

#recent-posts h2 {
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
}

#recent-posts article h3 {
  margin-bottom: 0;
}

#recent-posts article span {
  font-size: .75em;
}

#recent-posts article p {
  margin-top: 12px;
}

#recent-posts > p {
  text-align: center;
}

#recent-posts > p a {
  color: #fefefe;
  font-size: 1.25em;
  background-color: #343333;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 3px;
}


/* ==========================
  Media Queries
  for Home Page Styles
============================= */

@media only screen and (min-width: 550px) {
  #main-features {
    text-align: center;
    margin-bottom: 0;
  }

  #main-features article {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }

  #main-features article:last-of-type {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 800px) {
  #recent-posts article {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
}

@media only screen and (min-width: 820px) {
  #main-features article {
    width: 32%;
  }
}


/* ==========================
  About Page Styles
  (mobile first)
============================= */

/* Profile Section */
#profile img {
  display: block;
  margin: 30px auto 0;
  max-width: 260px;
  border-radius: 50%;
}

/* Name, Job Title, CV and Github Links */
#my-details {
  margin-top: -15px;
  text-align: center;
}

#my-details h2 {
  font-size: 1.875em; /* 30px */
  font-weight: 300;
}

#my-details span {
  display: block;
  margin-top: -25px;
  font-size: 1.125em; /* 18px */
  font-weight: 800;
  text-transform: uppercase;
}

#my-details p {
  margin-top: 8px;
  font-size: 1.25em; /* 20px */
  font-weight: 300;
}

#my-details p a:first-of-type {
  font-size: .9em; /* 18px */
}

#profile .bio {
  padding: 0 10px;
}

/* Styles for Collapsed Text */
#profile .bio .collapse {
  height: 105px;
  overflow: hidden;
}

#profile .bio .read-more {
  width: 90%;
  margin-top: -10px;
  text-align: right;
}

#profile .bio a {
  margin-left: 5px;
  font-size: .875em;
}

/* Skills Section */
#skills {
  margin: 60px 0 70px;
}

#skills h2 {
  text-align: center;
}

#skills ul {
  width: 55%;
  margin: 0 auto;
  list-style: none;
  color: #6c6c6c;
}

#skills ul li {
  margin-bottom: 15px;
}

/* Case Studies Section */
#case-studies {
  margin: 0 0 50px;
}

#case-studies article:first-of-type {
  margin: 30px 0 50px;
}

#case-studies article {
  margin: 50px 0;
  padding: 0 20px;
}

#case-studies article:last-of-type {
  margin: 50px 0 40px;
}

#case-studies h3 {
  margin-bottom: 0;
  font-size: 1.4em;
  font-style: italic;
}

#case-studies article span {
  display: inline-block;
  color: #fefefe;
  background-color: #343333;
  margin: 5px 10px 0 0;
  padding: 2px 8px;
  font-size: .75em;
  font-weight: 300;
}

#case-studies > p {
  text-align: center;
}

#case-studies > p a {
  display: inline-block;
  color: #fefefe;
  background-color: #343333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}


/* ==========================
  Media Queries
  for About Page Styles
============================= */

/* First Break Point for Skills Section */
@media only screen and (min-width: 560px) {
  #skills h2 {
    text-align: left;
  }

  #skills ul {
    display: inline-block;
    width: 49%;
  }
}

/* First Break Point for Profile Section */
@media only screen and (min-width: 620px) {
  #profile img {
    display: inline-block;
    width: 38%;
  }

  /* Name, Job Title, CV and Github Links */
  #my-details {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-top: 50px;
  }
}

/* Second Break Point for Profile and Skills Sections */
@media only screen and (min-width: 768px) {
  /* Profile Section */
  #img-profile {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
  }

  #profile img {
    width: 80%;
  }

  #my-details {
    width: 100%;
    margin: 0;
  }

  #my-details h2 {
    margin-top: 10px;
  }

  #profile .bio {
    display: inline-block;
    width: 68%;
    margin: 30px 0 0
  }

  #profile .bio .collapse {
    height: auto;
    overflow: auto;
  }

  #profile .bio .read-more {
    display: none;
  }

  /* Skills Section */
  #skills {
    width: 25%;
    float: right;
    margin-top: 0;
    padding: 0 0 0 50px;
  }

  #skills ul {
    width: 100%;
    padding: 0;
  }
}


/* ==========================
  Work Landing Page Styles
  (mobile first)
============================= */

#my-work-intro h2 {
  font-size: 2.25em; /* 36px */
  margin-bottom: 10px;
}

#my-work-intro h2::after {
  content: "of my Work";
  margin-left: 5px;
  font-size: .6em; /* 27px */
  font-weight: 300;
}

#my-work-intro > p {
  margin: 0 0 50px;
  font-size: 1.125em;
  font-weight: 300;
}

#my-work-intro img {
  display: none;
}

#my-work article {
  margin-bottom: 70px;
}

#my-work article img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#my-work article h3 {
  display: inline-block;
  width: 90%;
  margin-bottom: 0;
}

#my-work article i {
  display: inline-block;
  width: 8%;
  font-size: 1.5em;
}

#my-work article span {
  display: inline-block;
  color: #fefefe;
  background-color: #343333;
  margin: 5px 10px 0 0;
  padding: 2px 8px;
  font-size: .75em;
  font-weight: 300;
}


/* ==========================
  Media Queries
  for Work Landing Page Styles
============================= */

@media only screen and (min-width: 620px) {
  /* Articles to Two-Column Layout */
  #my-work article {
    display:  inline-block;
    width: 49%;
    vertical-align: top;
    padding: 0 25px;
  }

  #my-work article img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #my-work-intro {
    margin: 20px 0 40px;
  }

  /* Set the Intro Image for Desktop Viewports */
  #my-work-intro p,
  #my-work-intro img {
    display: inline-block;
    vertical-align: top;
  }

  #my-work-intro p {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 2em;
    width: 75%;
    padding-right: 20px;
  }

  #my-work-intro img {
    width: 24%;
  }
}

@media only screen and (min-width: 960px) {
  #my-work-intro p {
    margin-top: 20px;
  }
}


/* ==========================
  Individual Case Study Styles
  (mobile first)
============================= */

#project {
  margin: 30px 0;
}

#project img {
  display: block;
  width: 90%;
  margin: 0 auto 20px;
}

#project h2,
#project a {
  display: inline-block;
}

#project h2 {
  width: 85%;
}

#project a {
  width: 13%;
  font-size: 1.75em;
  text-align: right;
}

.case-study-section {
  margin-bottom: 50px;
  padding: 0 20px;
  line-height: 2em;
}

.case-study-section h3 {
  margin-bottom: 0;
}

.case-study-section ol li {
  margin-bottom: 20px;
}


/* ==========================
  Media Queries
  for Individual Case Study Styles
============================= */

@media only screen and (min-width: 620px) {
  #project {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 768px) {
  #project {
    padding: 0 60px;
  }
}


/* ==========================
  Blog Landing Page Styles
  (mobile first)
============================= */

#posts {
  margin-bottom: 40px;
}

#posts article {
  margin-bottom: 60px;
}

#posts article time {
  display: block;
  font-size: .75em;
  font-weight: 300;
  margin-top: -15px;
}

#posts article p {
  margin: 15px 0;
}

#posts article ul {
  margin: 0 0 10px 0;
  padding: 0;
}

#posts article ul li,
#posts article span {
  display: inline-block;
  padding: 2px 8px;
  font-weight: 300;
}

#posts article ul li {
  margin-right: 15px;
  list-style: none;
  font-size: 1em;
  border: 1px solid #343333;
}

#posts article span {
  color: #fefefe;
  background-color: #343333;
  margin: 5px 10px 0 0;
  font-size: .75em;
}

#posts > p {
  text-align: center;
}

#posts > p a {
  color: #fefefe;
  font-size: 1.25em;
  background-color: #343333;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 3px;
}
