<!-- Temporary Bread Crumbs -->
<p id="breadcrumbs"><a href="./index.html">home</a> >> about</p>

<!-- MAIN CONTENT -->
<section id="profile">
  <!-- Temporary image until I get a better shot. -->
  <div id="img-profile">
    <img src="img/portrait.jpg" alt="A selfie of Jan Kroezen outside on a sunny day wearing a Star Wars t-shirt." />
    <div id="my-details">
      <h2>Jan Kroezen</h2>
      <span>Developer</span>
      <p><a href="#">Curriculum Vitae</a> | <a href="https://github.com/JayKay82">GitHub</a></p>
    </div>
  </div>
  <div class="bio">
    <p class="collapse">
      Tacos franzen snackwave, cronut ethical marfa flannel cardigan jean shorts keytar disrupt locavore scenester quinoa. Scenester before they sold out prism cred tumeric selfies man braid, ethical crucifix glossier. Post-ironic meh roof party mumblecore, bicycle rights gluten-free semiotics wayfarers unicorn. Coloring book chambray mixtape, kickstarter kombucha pork belly tote bag sriracha you probably haven't heard of them meggings humblebrag tilde four dollar toast locavore DIY. Paleo sriracha skateboard meh. Disrupt slow-carb master cleanse enamel pin mustache YOLO semiotics man braid ugh cornhole. Roof party letterpress lyft tumeric.
    </p>
    <p class="read-more"><i class="fa fa-angle-up"></i><a href="#">read more</a></p>
  </div>
</section>

<section id="skills">
  <h2>Skills</h2>
  <ul>
    <li>HTML5 / CSS3</li>
    <li>Sass</li>
    <li>Bootstrap</li>
    <li>Javascript / jQuery</li>
    <li>AngularJS</li>
    <li>Express / MongoDB</li>
    <li>Ruby / Ruby on Rails</li>
  </ul>
  <ul>
    <li>SQLite / PostgreSQL</li>
    <li>Wordpress</li>
    <li>TDD / BDD</li>
    <li>Karma / Jasmine</li>
    <li>RSpec / Capybara</li>
    <li>NPM / Gulp</li>
    <li>Git</li>
  </ul>
</section>

<section id="case-studies">
  <h2>Recent Projects</h2>
  <article>
    <h3><a href="#">Vocabulary Builder</a></h3>
    <p>
      Irony migas fixie, 3 wolf moon drinking vinegar kogi actually. Seitan franzen single-origin coffee pickled, yuccie listicle jianbing four loko before they sold out readymade tumeric normcore freegan put a bird on it.
    </p>
    <span>Sass</span><span>Bootstrap</span><span>jQuery</span><span>AngularJS</span><span>Express</span><span>MongoDB</span>
  </article>
  <article>
    <h3><a href="#">This Portfolio Site</a></h3>
    <p>
      Stumptown knausgaard listicle, photo booth raclette seitan shoreditch slow-carb affogato tilde. Affogato wayfarers single-origin coffee blog schlitz PBR&B.
    </p>
    <span>html/css</span><span>jQuery</span><span>AngularJS</span><span>Express</span>
  </article>
  <article>
    <h3><a href="#">Navy Wings</a></h3>
    <p>
      Man bun normcore green juice williamsburg, vice prism tofu food truck you probably haven't heard of them etsy blog hell of.
    </p>
    <span>Sass</span><span>Bootstrap</span><span>jQuery</span><span>Wordpress</span>
  </article>
  <p><a href="#">more case studies</a></p>
</section>
