<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home | Jan Kroezen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jan Kroezen">
    <meta name="description" content="Jan Kroezen is a developer skilled in fullstack Javascript, and this is his portfolio site. Here you will find case studies of his work, blog posts about his experience developing web applications, and information on how to contact him.">
    <link rel="Shortcut Icon" href="favicon-qq.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="wrapper">

      <!-- HEADER -->
      <header>
        <h1><a href="./index.html">Jan Kroezen</a></h1>
        <nav>
          <li><a href="./about.html">about</a></li>
          <li><a href="./case-studies.html">work</a></li>
          <li><a href="./blog-landing.html">blog</a></li>
          <li><a href="./contact.html">contact</a></li>
        </nav>
        <span class="fa fa-bars" aria-hidden="true"></span>
        <div id="mobile-nav">
          <span class="fa fa-close" aria-hidden="true"></span>
          <ul>
            <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter-square"></span></a></li>
            <li><a href="#"><span class="fa fa-github-square"></span></a></li>
          </ul>
          <nav>
            <li><a href="./index.html">home</a></li>
            <li><a href="./about.html">about</a></li>
            <li><a href="./case-studies.html">work</a></li>
            <li><a href="./blog-landing.html">blog</a></li>
            <li><a href="./contact.html">contact</a></li>
          </nav>
        </div>
      </header>
      <!-- Temporary Bread Crumbs -->
      <p id="breadcrumbs"><a href="./index.html">home</a> >> contact</p>

      <!-- MAIN CONTENT -->
      <section id="contact">
        <article>
          <h2>Get in Touch!</h2>
          <p>
            Gluten-free cray letterpress paleo yr vape, unicorn hexagon echo park banh mi health goth ugh mumblecore live-edge readymade. Church-key leggings taxidermy neutra. Franzen schlitz meggings sustainable, viral fingerstache kogi taxidermy leggings occupy. Deep v raclette messenger bag williamsburg. +1 portland disrupt letterpress, four dollar toast keffiyeh trust fund. Intelligentsia knausgaard kogi semiotics four loko meggings. Plaid meditation messenger bag, master cleanse fam shoreditch bespoke DIY waistcoat taxidermy letterpress try-hard tumblr.
          </p>
          <p id="phone">(+44) 07551 155 860</p>
        </article>
        <aside>
          <h2>Drop a Line!</h2>
          <form id="contact-form" action="#" method="#">
            <input type="text" name="name" placeholder="Name">
            <br>
            <input type="telephone" name="number" placeholder="Phone Number">
            <br>
            <input type="email" name="email" placeholder="Email">
            <br>
            <textarea name="comment" placeholder="Questions or Comments"  rows="8"></textarea>
            <br>
            <input type="button" name="submit" value="Submit">
          </form>
        </aside>
      </section>

    </div>
    <!-- Footer -->
    <footer>
      <ul>
        <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
        <li><a href="#"><span class="fa fa-twitter-square"></span></a></li>
        <li><a href="#"><span class="fa fa-github-square"></span></a></li>
      </ul>
      <small>&copy;2016 Jan Kroezen</small>
    </footer>

    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
