<!-- Temporary Bread Crumbs -->
<p id="breadcrumbs"><a href="./index.html">home</a> >> contact</p>

<!-- MAIN CONTENT -->
<section id="contact">
  <article>
    <h2>Get in Touch!</h2>
    <p>
      Gluten-free cray letterpress paleo yr vape, unicorn hexagon echo park banh mi health goth ugh mumblecore live-edge readymade. Church-key leggings taxidermy neutra. Franzen schlitz meggings sustainable, viral fingerstache kogi taxidermy leggings occupy. Deep v raclette messenger bag williamsburg. +1 portland disrupt letterpress, four dollar toast keffiyeh trust fund. Intelligentsia knausgaard kogi semiotics four loko meggings. Plaid meditation messenger bag, master cleanse fam shoreditch bespoke DIY waistcoat taxidermy letterpress try-hard tumblr.
    </p>
    <p id="phone">(+44) 07551 155 860</p>
  </article>
  <aside>
    <h2>Drop a Line!</h2>
    <form id="contact-form" action="#" method="#">
      <input type="text" name="name" placeholder="Name">
      <br>
      <input type="telephone" name="number" placeholder="Phone Number">
      <br>
      <input type="email" name="email" placeholder="Email">
      <br>
      <textarea name="comment" placeholder="Questions or Comments"  rows="8"></textarea>
      <br>
      <input type="button" name="submit" value="Submit">
    </form>
  </aside>
</section>
